:root {
	--fon: #f7db9f;
	--tekst: #ecbd70;
	--info: #f2d3a5;
}

:root {
	--font-family: "Roboto Mono", sans-serif;
	--second-family: "Victor Mono", sans-serif;
	--third-family: "Inter", sans-serif;
	--font3: "Roboto Condensed", sans-serif;
}
  