.orderhistory-page{
    padding-top: 7rem;
    background: url('../images/order-history-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 962px){
        padding-top: 1.9rem;
        background: url('../images/order-historymobile-bg.png');
        background-size: cover;
        .lk__nav{
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1.3rem;
            overflow: hidden;
            margin-bottom: 1rem;
        }
        .lk__top{
            margin-bottom: 1rem;
        }
        .lk__title{
            font-size: 3.5rem;
            margin-bottom: 11rem;
        }
        .lk__actions{
            display: none;
        }
        .favorites__title{
            display: none;
        }
        .order-history__title{
            display: none;
        }
    }
}
.order-history{
    &__title{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 3.3rem;
        color: #000;
        text-align: center;
        margin-bottom: 5rem;
    }
    &__sort{
        width: 32.5rem;
        margin: auto;
        margin-bottom: 6.5rem;
    }
    &__item-mobile{
        display: none;
        @media (max-width: 962px){
            display: flex;
            flex-wrap: wrap;
            gap:1.9rem 5.5rem;
        }
    }
    &__item-mobile-name{
        @media (max-width: 962px){
            font-weight: 700;
            font-size: 1.6rem;
            color: #8c8c8c;
        }
    }
    &__item-mobile-value{
        span{
            font-weight: 700;
            background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
    }
    &__sort-top{
        font-family: var(--second-family);
        font-size: 1.8rem;
        color: #8c8c8c;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1.7rem;
        border-radius: 1.5rem;
        border: 0.2rem solid #1041EB;
        cursor: pointer;
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    &__top{
        display: flex;
        margin-bottom: 4.1rem;
        @media (max-width: 962px){
            display: none;
        }
    }
    &__top-name{
        font-family: var(--second-family);
        font-size: 1.6rem;
        color: #8c8c8c;
        &:nth-child(1){
            padding-left: 8.1rem;
            padding-right: 6.1rem;
        }
        &:nth-child(2){
            padding-right: 13.3rem;
        }
        &:nth-child(3){
            padding-right: 10rem;
        }
        &:nth-child(4){
            padding-right: 6.1rem;
        }
        &:nth-child(5){
            padding-right: 7.5rem;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 4.1rem;
        margin-bottom: 17rem;
        @media (max-width: 962px){
            padding: 0 1.5rem;
        }
    }
    &__item{
        display: flex;
        align-items: flex-start;
        padding: 5.5rem 8.1rem;
        border-radius: 2.1rem;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);  
        background: #fff;
        @media (max-width: 962px){
            position: relative;
            flex-wrap: wrap;
            padding: 2.1rem 3.8rem;
        }
    }
    &__item-number{
        width: 7.7rem;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.5rem;
        color: #8c8c8c;
        padding-top: 1.7rem;
        @media (max-width: 962px){
            margin-bottom: 1rem;
        }
    }
    &__item-date{
        width: 17rem;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 78%;
        background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 962px){
            position: absolute;
            top: 4.5rem;
            right: 4.5rem;
            width: auto;
        }
    }
    &__item-name{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        color: #000;
        width: 21.9rem;
        position: relative;
        @media (max-width: 962px){
            margin-bottom: 5.4rem;
        }
        span{
            color: #8c8c8c;
            display: block;
            margin-bottom: 1.9rem;
            @media (max-width: 962px){
                position: absolute;
                top: 2.5rem;
            }
        }
    }
    &__item-col{
        width: 21.7rem;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        color: #8c8c8c;
        span{
            display: block;
           margin-bottom: 1.9rem; 
        }
        @media (max-width: 962px){
            display: none;
        }
    }
    &__item-adress{
        width: 21rem;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        color: #000;
        @media (max-width: 962px){
            display: none;
        }
    }
    &__item-summ{
        width: 15rem;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        color: #000;
        @media (max-width: 962px){
            display: none;
        }
        .dost{
            margin-top: 1.7rem;
        }
        span{
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 1.8rem;
            background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }  
    }
    &__item-btn{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.6rem;
        background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 1rem;
        padding: 1.5rem 3.7rem;
        border-radius: 1.8rem;
        border: 0.2rem solid #1041EB;
        @media (max-width: 962px){
            margin-top: 3rem;
            width: 100%;
        }
    }
}