.product-pages{
    padding-top: 7rem;
    background: url('../images/product-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 962px){
        padding-top: 1.9rem;
        background: url('../images/product-bgmobile.png');
    }
    .like{
       margin-bottom: 12rem;
       @media (max-width: 962px){
        margin-bottom: 5.5rem;
    }
    }
}

.product-page{
    &__title{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 3.8rem;
        text-align: center;
        background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 5rem;
        @media (max-width: 962px){
            font-size: 3.5rem;
            margin-bottom: 15.7rem;
        }
    }
    &__breadcrumbs{
        display: flex;
        gap: 1.3rem;
        margin-bottom: 7rem;
        @media (max-width: 962px){
            display: none;
        }
        a{
            display: flex;
            align-items: center;
            gap: 1.3rem;
            font-size: 2.4rem;
            &.active{
                font-size: 2rem;
                color: #363636;
                svg{
                    display: none;
                }
            }
        }
        svg{
            width: 0.9rem;
            height: 1.6rem;
        }
    }
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 5.9rem;
        margin-bottom: 5.5rem;
        @media (max-width: 962px){
           flex-direction: column;
           gap: 4.5rem;
        }
    }
    &__img{
        display: flex;
        flex-direction: row-reverse;
        width: 55rem;
        gap: 2.1rem;
        @media (max-width: 962px){
            flex-direction: column;
            width: 100%;
         }
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      
          body {
            background: #000;
            color: #000;
          }
      
          .swiper {
            width: 100%;
            height: 42.9rem;
            margin-left: auto;
            margin-right: auto;
          }
      
          .swiper-slide {
            background-size: cover;
            background-position: center;
          }
      
          .mySwiper2 {
            width: 44.3rem;
            height: 42.9rem;
            gap: 2.1rem;
            @media (max-width: 962px){
                width: 100%;
                height: 35rem;
             }
            .swiper-slide{
                border-radius: 0.9rem;
                background: #d9d9d9;
                img{
                    border-radius: 0.9rem;
                }
            }
          }
      
          .mySwiper {
            width: 8.5rem;
            height: 28.9rem;
            margin-top: 7rem;
            box-sizing: border-box;
            @media (max-width: 962px){
                width: 100%;
                height: 7.8rem;
                margin-top: 0;
                
             }
            .swiper-slide{
                border-radius: 0.9rem;
                background: #d9d9d9;
                @media (max-width: 962px){
                    transform: scale(0.9);
                 }
                img{
                    border-radius: 0.9rem;
                }
            }
          }
      
          .mySwiper .swiper-slide {
            width: 8.5rem;
          }
      
          .mySwiper .swiper-slide-thumb-active {
            opacity: 1;
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
    &__name{
        font-size: 3.2rem;
        margin-bottom: 2.5rem;
        @media (max-width: 962px){
            position: absolute;
            top: 17rem;
            font-size: 2.4rem;
         }
    }
    &__content{
        @media (max-width: 962px){
            width: 100%;
            display: flex;
         }
    }
    &__prim{
        font-weight: 500;
        font-size: 1.8rem;
        color: #000;
        display: flex;
        gap: 2.9rem;
        margin-bottom: 1.5rem;
        @media (max-width: 962px){
            display: none;
         }
        span{
            font-weight: 400;
            font-size: 1.8rem;
            color: #8c8c8c;
        }
    }
    &__garant{
        font-weight: 500;
        font-size: 1.8rem;
        color: #8c8c8c;
        display: flex;
        gap: 5.1rem;
        margin-bottom: 1.5rem;
        @media (max-width: 962px){
            display: none;
         }
        span{
            font-weight: 400;
            font-size: 1.8rem;
            &.blue{
                font-weight: 700;
                background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;  
            }
            &.orange{
                font-weight: 700;
                background: linear-gradient(134deg, #ffe500 0%, #e86c13 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &__price{
        font-size: 3.6rem;
        margin-bottom: 6.7rem;
        @media (max-width: 962px){
            position: absolute;
            font-size: 2.8rem;
            top: 21rem;
         }
        span{
            font-size: 3.2rem;
            color: #606060
        }  
    }
    &__actions{
        margin-bottom: 1.9rem;
        width: 13rem;
        display: flex;
        border-radius: 2rem;
        border: 0.2rem solid #0085ff;
        @media (max-width: 962px){
            flex-direction: column;
            width: 6rem;
            margin-right: 2.5rem;
         }
        svg{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    &__minus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.9rem;
        @media (max-width: 962px){
            width: 100%;
            height: 4.8rem;
         }
    }
    &__value{
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.2rem;
        height: 6rem;
        border-left: 0.2rem solid #0085ff;
        border-right: 0.2rem solid #0085ff;
        @media (max-width: 962px){
            border: none;
            border-top: 0.2rem solid #0085ff;
            border-bottom: 0.2rem solid #0085ff;
            height: 3.4rem;
            width: 100%;
         }
    }
    &__plus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.9rem;
        @media (max-width: 962px){
            width: 100%;
            height: 4.8rem;
         }
    }
    &__btns{
        display: flex;
        gap: 2.7rem;
        @media (max-width: 962px){
            flex-direction: column;
            gap: 1.5rem;
         }
    }
    &__cart{
        font-weight: 700;
        font-size: 1.6rem;
        color: #fff;
        padding: 1.7rem 4.1rem;
        border-radius: 1.5rem;
        background: linear-gradient(134deg, #ffe500 0%, #e86c13 100%);
        @media (max-width: 962px){
            white-space: nowrap;
            padding: 1.7rem 3.7rem;
            border-radius: 2.1rem;
        }
    }
    &__favorite{
        display: flex;
        align-items: center;
        font-weight: 700;
        gap: 1.5rem;
        padding: 1.7rem 5.3rem;
        border-radius: 1.5rem;
        border: 0.2rem solid #ffe500;
        @media (max-width: 962px){
            white-space: nowrap;
            padding: 1.7rem 3.7rem;
            justify-content: center;
            border-radius: 2.1rem;
        }
        svg{
            width: 1.8rem;
            height: 1.8rem;
        }
    }
    &__descrs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 13rem;
        @media (max-width: 962px){
            flex-direction: column;
            gap: 3.7rem;
            margin-bottom: 5.5rem;
         }
    }
    &__desc{
        width: 66.1rem;
        padding: 4.1rem 4.5rem;
        height: 32rem;
        position: relative;
        @media (max-width: 962px){
            width: 100%;
            font-size: 1.4rem;
            height: auto;
            padding: 3rem 2.3rem 2.3rem;
         }
         svg:nth-child(2){
            display: none;
            @media (max-width: 962px){
                display: block;
             }
         }
         svg:nth-child(1){
            @media (max-width: 962px){
                display: none;
             }
         }
        svg{
            top: 0;
            left: 0;
            width: 66.1rem;
            height: 32rem;
            position: absolute;
            @media (max-width: 962px){
                width: 100%;
                height: 100%;
             }
        }
        p{
            font-weight: 300;
            font-size: 1.8rem;
            color: #221111;
            @media (max-width: 962px){
                font-size: 1.4rem;
             } 
        }
    }
    &__desc-title{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.3rem;
        color: #000;
        margin-bottom: 1.6rem;
    }
}

.characteristics{
    padding-left: 11rem;
    margin-bottom: 13rem;
    @media (max-width: 962px){
        padding-left: 0;
        margin-bottom: 3rem;
     }
    &__top{
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 1.8rem;
        background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3.3rem;
        padding-bottom: 0.5rem;
        position: relative;
        cursor: pointer;
        &.active{
            svg{
                transform: rotate(180deg);
                transition: all 0.3s;
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 8.7rem;
            height: 0.1rem;
            background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
        }
        svg{
            width: 1.6rem;
            height: 0.9rem;
            transition: all 0.3s;
        }
    }
    &__content{
        display: flex;
        gap: 15rem;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s;
        @media (max-width: 962px){
            flex-direction: column;
            gap: 1rem;
         }
    }
    &__block{
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
    }
    &__line{
        width: 41.2rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: 962px){
            width: 100%;
            justify-content: flex-start;
            gap: 3rem;
         }
    }
    &__name{
        font-size: 1.8rem;
        color: #8c8c8c;
        @media (max-width: 962px){
            font-size: 1.3rem;
            width: 14rem;
         }
    }
    &__value{
        width: 13rem;
        display: flex;
        gap: 1rem;
        @media (max-width: 962px){
            font-size: 1.3rem !important;
         }
        span{
            font-size: 1.8rem;
            color: #8c8c8c;
            white-space: nowrap;
            @media (max-width: 962px){
                font-size: 1.3rem !important;
             }
            &.blue{
                background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &.orange{
                background: linear-gradient(134deg, #ffe500 0%, #e86c13 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}