.footer{
    padding: 9rem 0;
    border-top: 1.5rem solid #F7DB9F;
   &__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   }
   .contact__link{
        margin-bottom: 2.7rem;
   }
   .nav{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 3rem 6.6rem;
        width: 38.1rem;
        .nav__link{
            font-family: var(--second-family);
            font-size: 1.7rem;
            color: #000;
            height: 2.4rem;
        }
   }
}