.header{
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    position: relative;
    z-index: 777;
    .container{
        width: 153.8rem;
        max-width: 153.8rem;
        @media (max-width: 962px) {
            width: 100%;
            padding: 0 1rem !important;   
        }
    }
    &__wrapper{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1.4rem 0 0.9rem;
    }
    &__logo{
        display: flex;
        gap: 1.1rem;
        img{
            width: 5.2rem;
            height: 3.5rem; 
        }
    }
    &__name{
        font-family: "Geometria", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 134%;
        color: #000;
        text-transform: uppercase;
        @media (max-width:962px) {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 1.1rem;
            color: #000;
            text-transform: lowercase;
        }
        span{
            display: block;
            font-weight: 700;
            background: linear-gradient(134deg, #0085ff 0%, #1335e8 100%);
             background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width:962px) {
                color: 000;
                font-weight: 400;
                -webkit-text-fill-color: #000;
            }
        }
    }
    .nav{
        display: flex;
        align-items: center;
        gap: 6rem;
        margin-left: -7rem;
        @media (max-width: 962px) {
            display: none;  
        }
        &__link{
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 1.7rem;
            color: #000;
        }
    }
    &__actions{
        display: flex;
        align-items: center;
        gap: 3.3rem;
        @media (max-width: 962px) {
            gap: 1.5rem,; 
        }
        svg{
            width: 3rem;
            height: 3rem;
            @media (max-width: 962px) {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}

.hamburger{
    display: none;
    @media (max-width: 962px) {
       display: block;
       svg{
           width: 2.3rem;
           height: 1.9rem; 
       }
    }
}